* {
    font-family: sans-serif;
  }
  p {
    margin: 0;
  }
  body {
    background-image: url("./Ethiopian.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  
  }
  button {
    border: none;
    background-color: inherit;
    padding: 1px, 4px;
    border-radius: 10px;
    color: #fffcff;
    cursor: pointer;
  }
  .delete-btn {
    background-color: #ff4d4f;
    width: 120px;
  }
  .delete-btn:hover {
    background-color:#217c83;
  }
  
  .delete-btn1 {
    background-color: #ff4d4f;
    margin-left: 10px;
    width: 80px;
    height: 30px;
  }
  .delete-btn1:hover {
    background-color: #217c83;
  }
  
  .txt {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-right: 15px;
    padding: 10px;
  }
  .edit-btn {
    background-color: yellowgreen;
    width: 120px;
  }
  
  .edit-btn:hover {
    background-color: rgb(85, 110, 36);
  }
  .edit-btn1 {
    background-color: yellowgreen;
  }
  
  .edit-btn1:hover {
    background-color: rgb(85, 110, 36);
  }
  #btn {
    background-color: #1c32c3;
    height: 2rem;
    width: 90px;
  }
  
  #btn:hover {
    background-color: #961a71;
  }
  h1 {
    color: #fffcff;
  }
  
  button:hover {
    background-color: rgba(15, 15, 152, 0.643);
  }
  .content_paragraph {
    
    padding: 2px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tool-div {
    margin-top: 5px;
    min-width: 500px;
  
    height: 100%;
    align-items: center;
    border-radius: 14px;
    background-color: white;
    padding: 10px 5px;
    border-style: none;
    margin-right: 10px;
  }
  input {
    border-radius: 14px;
    background-color: rgb(223, 226, 239);
    height: 30px;
    padding: 5px 20px 5px 20px;
    border-style: none;
    margin-right: 10px;
  }
  #tools {
    display: flex;
  }
  .all {
    width: 98%;
    height: 72vh;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow-x: scroll; */
  }
  .new {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: larger;
  }
  .new1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    right: 0;
    /* font-size: larger; */
  }
  .div1 {
    overflow-y: scroll;
    height: 50vh;
  }
  
  .div2 {
    overflow-y: scroll;
    height: 50vh;
  }
  .div21{
    overflow-y: scroll;
    height: 60vh;
  }
  .div22 {
    overflow-y: scroll;
    height: 60vh;
  }
  .done {
    background-color: blue;
  }
  .divv {
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .dd {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .adding {
    background-color: brown;
    width: 50px;
  }
  .adding:hover {
    background-color: rgb(134, 89, 146);
  }
  img {
    width: 100px;
  }
  
  .f {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .w {
    display: flex;
  }
  .tot {
    font-size: 10px;
    /* width: 100vw; */
    margin-right: 15px;
  }
  .content_paragraph1 {
    margin-top: 10px;
    margin-bottom: 10px;
    size: 10px;
  }
  @media only screen and (max-width: 768px) {
    img {
      display: none;
    }
    .all {
      min-height: 77vh;
    }
  }
  
  .content_paragraph1 {
    text-align: center;
  }
  .t1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .dd1 {
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 5px;
  }
  .dd2 {
    background-color: rgb(137, 137, 234);
    padding: 5px;
    border-radius: 10px;
  }
  .dd3 {
    background-color: yellow;
    padding: 5px;
  }
  .just {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hmm {
    text-align: center;
    padding-bottom: 10px;
  }
  .tool-div11 {
    margin-top: 5px;
    min-width: 500px;
    /* margin-bottom: 10px; */
    height: 100%;
    align-items: center;
    border-radius: 14px;
    background-color: rgb(186, 173, 86);
    padding: 10px 5px;
    border-style: none;
    margin-right: 10px;
  }
  .ddd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }